.our-best-item{
    margin-left: 70px;
    margin-right: 70px;
    display: inline-block;
    width: 220px;
    height: 230px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    padding-top: 22px;

    .our-best-item-image{
        display: block;
        margin: 0 auto;
        width: 151px;
        height: 130px;
    }

    .our-best-item-title{
        h4{
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            text-align: center;

            color: #000000;
        }
    }

    .our-best-item-price{
        float:right;
        margin-right: 24px;
        margin-top: -14px;
        h4{
            font-family: 'Merienda';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            text-align: center;

            color: #000000;
        }
    }
}